@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: #e3e3e3 ;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #1b1b1b;
    padding:  15px 0;
}
.wrapper .sidebar .sidebar_pic{
    width: 110px;
    border-radius: 100%;
    margin-top:5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    border: 5px solid white;
}
.wrapper .sidebar .sidebar_pic:hover{
    box-shadow: 0px 0px 150px 10px white;
    transition: 0.3s ease-in-out;
}
.wrapper .sidebar .sidebar_pic:not(:hover){
    transition: 1s ease-in-out;
}
.wrapper .sidebar h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.039);
    border-top: 1px solid rgba(255, 251, 251, 0.05);
}
.wrapper .sidebar ul a li{
    letter-spacing: 1px;
    word-spacing: 2px;
    color: white;
    display: block;
    font-size: 17px;
}
.wrapper .sidebar ul a li  .fas{
    display: relative;
    width: 20px;
    color: white;
    font-size: 20px;
    margin-right: 15px;
}
.wrapper .sidebar ul a li  .fa-solid{
    display: relative;
    width: 20px;
    color: white;
    font-size: 20px;
    margin-right: 15px;
}
.sidebar ul a li:hover{
    background:linear-gradient(45deg, black, white);
}
.active{
    background:linear-gradient(45deg, black, white);
    color: white;
}
.wrapper .sidebar ul li:hover a{
    color: white;
    font-weight: 900;
}
.wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 50px;
}
.wrapper .sidebar .social_media a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: grey;
    color: white;
    text-align: center;
    margin: 0 5px;
}
.wrapper .sidebar .social_media a:hover{
    box-shadow: 0px 0px 25px 10px white;
    color: black;
    border-radius: 100px;
}
.wrapper .sidebar .social_media a:not(:hover){
    transition: 3s;
}
.updated a{
    background: linear-gradient(45deg,black,rgb(160, 160, 160)); 
    padding: 10px;
    color: white;
    border-radius: 20px;
}
.updated a:hover{
    background: linear-gradient(-45deg,black,rgb(160, 160, 160)); 
}


.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}
.wrapper .main_content .header{
    padding: 20px;
    background: red;
    background: white;
    text-align: center;
    color: black;
    border-bottom: 5px solid #e0e4e8;
}
.wrapper .main_content .footer{
    padding: 20px;
    background:white;
    text-align: center;
    color: black;
}
.wrapper .main_content .footer .social_media a{
    font-size: 20px;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: black;
    text-align: center;
    margin-right:10px;
}
.wrapper .main_content .footer .social_media a:hover{
    box-shadow: 0px 0px 25px 5px black;
    background: #1b1b1b;
    color: white;
    border-radius: 100px;
}
.wrapper .main_content .footer .social_media a:not(:hover){
    transition: 2s;
}
.wrapper .main_content .autoTyper{
    padding: 0px;
    margin: 0px auto
    50px auto;
    font-size: 40px;
    height: 250px;
    width: 80%;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .main_content .information_box{
    padding: 20px 20px 20px 20px;
    min-width: 300px;
    width: 55%;
    margin-top: 30px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    background: white;
    border-radius: 30px;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .main_content .information_box img{
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.438);
    width: 100px;
    border-radius: 100%;
}
.wrapper .main_content .info{
    margin: 30px;
    color: black;
    line-height: 25px;
}
.wrapper .main_content .main_content_img{
    width: 300px;
    border-radius: 8%;
    box-shadow: 15px 15px 75px 10px black;
    margin-bottom: 30px;
}
.wrapper .main_content .main_content_img:hover{
    transition: 0.5s;
    transform: scale(1.07);
}
.wrapper .main_content .main_content_img:not(:hover){
    transition: 0.5s;
}
.wrapper .main_content .info div{
    margin-bottom: 20px;
}
.end_info{
    font-size: 25px;
}
.page_info{
    padding:10px;
    margin-top: 25px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right:auto;
    font-size: 45px;
    border-radius:0px;
    width: 100%;
    background: white;
    text-align: center;
    color: white;
    background: linear-gradient(45deg, black, grey);
    top: 0;
    position: sticky;
}

.wrapper .main_content .enter_email{
    border-radius:100px ;
    padding: 2px 2px 2px 2px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 90%;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b95;
    border-bottom: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-top: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgb(0, 0, 0);
}
.wrapper .main_content .enter_name{
    border-radius:35px ;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 49%;
    background: white;
    text-align: center;
    color: black;
    border: 10px solid #1b1b1b95;
    border-bottom: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-top: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgb(0, 0, 0);
}
p.small_p{
    margin-top: 15px;
    font-size: 25px;
}
.h1_main{
    font-size: 35px;
}
.h2_main{
    font-size: 25px;
    font-weight: 100;
}
.main_hr{
    width: 90%;
    background: black;
    border-radius: 100px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
}
.main_hr:hover{
    width: 90%;
    background: black;
    border-radius: 100px;
    transition: 0.3s;
}
.regular_hr{
    width: 40%;
    background: black;
    border-radius: 100px;
    height: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper .main_content .enter_message{
    border-radius: 35px;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    height: 200px;
    width: 95%;
    background: white;
    text-align: center;
    color: black;
    border: 10px solid #1b1b1b95;
    border-bottom: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-top: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgb(0, 0, 0);
}
.wrapper .main_content .send_button{
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 50px 5px;
    font-size: 25px;
    height: max-content;
    text-transform: uppercase;
    width: 20%;
    background: rgba(128, 128, 128, 0);
    text-align: center;
    color: black;
    border-top: 10px solid #1b1b1b95;
    border-right: 10px solid #1b1b1b;
    border-bottom: 10px solid #1b1b1b;
    border-left:10px solid #1b1b1b95;
    border-radius: 30px;
}
.wrapper .main_content .send_button:hover{
    transition: 0.5s;
    border-bottom: 10px solid #1b1b1b95;
    border-top: 10px solid #1b1b1b;
    border-right: 10px solid #1b1b1b;
    border-left:10px solid #1b1b1b95;
    box-shadow: 0 15px 23px 0 rgb(0, 0, 0);
    font-weight: 900;
}
.send_button:not(:hover){
    transition: 1s;
}

.thank{
    margin-top:50px ;
    text-align: center;
    font-size: 100px;
    background: linear-gradient(45deg, black, grey);
    border-radius: 10px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 200px;
    color: white;
    
}
.home{
    background: linear-gradient(45deg, black, grey);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-bottom: 25px;
    padding: 25px;
    font-size: 35px;
    border-radius:45px;
}
.home:hover{
    background: linear-gradient(45deg, grey, black);
}
.home a{
    color: white;
    letter-spacing: 1px;
}

/*===================================================== */

/*                  CSS FOR GALLERY PC                   */

/*===================================================== */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: max-content;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .gallery-cont{
    width: 100%;
    margin: 10px 2px 0px 10px;
    max-width: 350px;
    height: auto;
    object-fit: contain;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px 8px;
    border-radius: 25px;
  }
   .gallery-cont img {
    width: 100%;
    height: auto;
    border-radius: 25px;

    object-fit: contain;
    background: white;
  }
  
  .cap{
    font-size:large;
    font-weight:600;
    letter-spacing: 2px;
    text-align: center;
  }






.pins{
    font-size: 25px;
    text-align: left;
    margin-left: 25px;
}
::selection{
    color: white;
    background:grey;
  }
  ::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background: linear-gradient(90deg, rgb(51, 51, 51),rgb(104, 101, 101));
}
::-webkit-scrollbar-thumb{
    background: white;
    box-shadow: 0px 0px 50px 40px white;
    border-radius: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
::-webkit-scrollbar-thumb:hover{
    background: grey;
}
.social_button{
    background: #1b1b1b;
    border-radius:15px ;
    color: white;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    width: max-content;
    padding: 10px;
    border: 3px solid whitesmoke;
}
.social_button:hover{
    transition: 0.3s;
    font-weight: 900;
    box-shadow: 0px 0px 30px 0px white;
}
.social_button:not(:hover){
    transition: 1s;
}
.socials_div{
    display: inline-block;
    margin-right: 10px;
}

/* Need to put this back for putting discord. */
/* .socials_div iframe{
    box-shadow: 15px 15px 25px 0px rgb(74, 74, 74);
    margin-right: 500px;
} */

.socials_div_spotify iframe{
    box-shadow: 15px 15px 25px 0px rgb(74, 74, 74);
    margin-right: 5px;
}
.socials_div h2,.socials_div_spotify h2{
    padding: 15px;
    background: linear-gradient(45deg, black, grey);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    color: white;
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.socials_div2{
    display: inline-block;
    margin-right: 10px;
}
.socials_div2 h2{
    padding: 15px;
    background: linear-gradient(45deg, black, grey);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    color: white;
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.img_twitter{
    height: 350px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 15px 15px 25px 0px rgb(74, 74, 74);
}
.img_git{
    height: 350px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 15px 15px 25px 0px rgb(74, 74, 74);
}
.img_reddit{
    height: 350px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 15px 15px 25px 0px rgb(74, 74, 74);
}
.wrapper .main_content .socials_design{
    padding: 20px;
    width: 85%;
    margin-top: 30px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button_main{
    border: 4px solid white;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: max-content;
    font-size: 30px;
    background: linear-gradient(45deg, black, grey);
    box-shadow: 0px 0px 10px 5px rgb(74, 74, 74);
}
.button_main a{
    color: white;
}
#preloader{
    background: black url('../images/preloader3.gif') no-repeat center center;
    background-size: 750px;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}




nav .menu-btn i{
    display: none;
}
#click{
    display: none;
}
.mobile_information_box{
    display: none;
}
img.mobile_logo_img{
    display: none;
}
nav{
    display: none;
}
.profile_image_beginning{
    display: none;
}
.page_info_mobile{
    display: none; 
}
.mobile_autoTyper{
    display: none;
}
.mobile_artwork_design_paint1, .mobile_artwork_design_paint2{
    display: none;
}
.mobile_footer{
    display: none;
}
.p_mobile_thank_msg{
    display: none;
}
.h1_mobile_thank_head{
    display: none;
}
.button_main_mobile{
    display: none;
}
.mobile_small_p_quote{
    display: none;
}
.mobile-gallery{
    display:none;
}



.information_box_announcement{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    background: white;
    text-align: center;
    color: black;
    border-left: 10px solid #1b1b1b;
    border-radius: 30px;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: highlight infinite 2s;
    position: relative;
    z-index: -1;
}

.small_p_quote{
    font-family: cursive;
    font-size: 23px;
    padding: 20px;
    margin-bottom: 10px;
    display: block;
}

@keyframes highlight {
    0%{
        color: white;
        transform: rotate(5deg);
    }
    25%{
        color: black;
        transform: rotate(-5deg);

    }
    50%{
        color: white;
        transform: rotate(5deg);

    }        
    75%{
        color: black;
        transform: rotate(-5deg);

    }        
    100%{
        color: white;
        transform: rotate(5deg);

    }
    

}
@media only screen and (max-width: 550px) {
    .active{
        display: none;
    }
    .mobile_active{
        font-size: 20px;
        text-align: center;
        margin-top:10px ;
        width: 100%;
        background: white;
        color: black;
        border-bottom: 5px solid rgb(0, 0, 0);
        /* border-radius: 100px; */
        /* background:linear-gradient(45deg, black, white); */
        /* border-top: px solid rgb(0, 0, 0);
        border-right: 2px solid rgb(0, 0, 0);
        border-left: 2px solid rgb(0, 0, 0); */
    }
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .wrapper{
        display: none;
    }
    nav{
        position: fixed;
        top: 0px;
        width: 100%;
        height: 70px;
        background: #1b1b1b;
        display: flex;
        align-items: center;
        padding-top:2px;
        padding-bottom: 2px;
        padding-right: 25px;
        padding-left: 25px;
        justify-content: space-between;
    }
    nav ul{
        padding: 10px;
        border-right: 5px solid #1b1b1b; 
        position: fixed;
        display: flex;
        list-style: none;
        top: 100px;
        left: -100%;
        background: rgba(0, 0, 0, 0.66);
        border-radius: 25px;
        height: 600px;
        width: 50%;
        display: block;
        transition: all 1s ease-in-out;
    }
    #click:checked ~ ul{
        left: 0%;
        transition: 0.5s all;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\2190";
    }
    nav ul li{
        word-spacing:2px;
        padding: 12px;
        color: white;
        text-align: left;
        font-size:18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.185);
    }
    img.mobile_logo_img{
        display: block;
        margin-top:20px;
        margin-bottom: 15px;
        width: 50px;
        border-radius: 100px;
        border: 2px solid white;
        margin-right: 100px;
    }
    .mobile_nav_h1{
        letter-spacing: 2px;
        color: white;
        font-size: 22px;
        transform: translateX(-65%);
    }
    nav .menu-btn i{
        display: block;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
    body {
        background: #e3e3e3 ;
    }
    .updated a{
        background: linear-gradient(45deg,black,rgb(160, 160, 160)); 
        padding: 10px;
        color: white;
        border-radius: 20px;
    }
    .updated a:hover{
        background: linear-gradient(-45deg,black,rgb(160, 160, 160)); 
    }
    .mobile_information_box{
        display: block;
        padding: 10px 10px 10px 10px;
        width: 85%;
        margin-top: 50px;
        margin-bottom: 75px;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        background: white;
        text-align: center;
        color: black;
        border-left: 10px solid #1b1b1b;
        border-radius: 30px;
        box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .mobile_information_box_announcement{
        display: block;
        padding: 10px 10px 10px 10px;
        width: 85%;
        margin-top: 50px;
        margin-bottom: 75px;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        background: white;
        text-align: center;
        color: black;
        border-left: 10px solid #1b1b1b;
        border-radius: 30px;
        box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: highlight infinite 2s;
        position: relative;
        z-index: -1;
    }

    @keyframes highlight {
        0%{
            color: white;
            transform: rotate(5deg);
        }
        25%{
            color: black;
            transform: rotate(-5deg);

        }
        50%{
            color: white;
            transform: rotate(5deg);

        }        
        75%{
            color: black;
            transform: rotate(-5deg);

        }        
        100%{
            color: white;
            transform: rotate(5deg);

        }
        

    }
    .profile_image_beginning{
        display: block;
        text-align: center;
        margin: 0;
        width: 100%;
        height: 200px;
        background: white;
        border-bottom:1px solid rgba(128, 128, 128, 0.342) ;
    }
    .profile_image_beginning_img{
        border-radius: 20px;
        margin-top: 80px;
        width: 100px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 15px 0px 80px 0px black;
    }
    .page_info_mobile{
        display: block;
        padding-top:15px;
        padding-bottom:15px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 25px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right:auto;
        font-size: 35px;
        border-radius: 100px;
        width: max-content;
        background: white;
        text-align: center;
        color: white;
        background: linear-gradient(45deg, black, grey);
    }
    .mobile_autoTyper{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 180px;
        padding: 10px;
        font-size: 30px;
        background: white;
        text-align: center;
        color: black;
        border-left: 10px solid #1b1b1b;
        box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .mobile_profile_img{
        width: 70px;
        border-radius: 100px;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.438);
    }
    
    .mobile_small_p, .mobile_pins{
        margin-top: 10px;
        font-size: 22px;
    }
    .mobile_footer{
        display: block;
        font-size: 15px;
        padding: 40px;
        background:white;
        text-align: center;
        color: black;
    }
    .button_main_mobile{
        border: 4px solid white;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        padding-top:10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        width: max-content;
        font-size: 30px;
        background: linear-gradient(45deg, black, grey);
        box-shadow: 0px 0px 10px 5px rgb(74, 74, 74);
    }
    .button_main_mobile a{
        color: white;
    }
    .mobile_enter_email{
        font-size: 15px;
        border: 3px solid black;;
        padding: 5px;
        width: 100%;
        border-radius: 25px;
        text-align: center;
    }
    /*===================================================== */
/*===================================================== */
/*===================================================== */
/*===================================================== */
/*===================================================== */
/*===================================================== */
/*===================================================== */

.gallery{
    display: none;
}
.gallery img{
    display: none;
}

.mobile-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: max-content;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .mobile-gallery-cont{
    margin: 5% 5% 0% 5%;
    padding: 10px 10px 10px 10px ;
    border-radius: 15px;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .mobile-gallery-cont img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: contain;
    background: white;
  }
  .cap{
    font-size:larger;
    font-weight: 900;
    text-align: center;
  }
/*===================================================== */
/*===================================================== */
/*===================================================== */
/*===================================================== */
/*===================================================== */
/*===================================================== */
/*===================================================== */
    .mobile_enter_name{
        font-size: 15px;
        border: 3px solid black;
        padding: 2px;
        border-radius: 25px;
        text-align: center;
    }
    .mobile_enter_message{
        font-size: 18px;
        border: 3px solid black;
        padding: 3px;
        margin-top: 20px;
        width: 100%;
        height: 150px;
        border-radius: 25px;
        text-align: center;
    }
    .mobile_send_button{
        font-size: 20px;
        border-top: 4px solid black;
        border-bottom: 4px solid black;
        border-left: 4px solid black;
        border-right: 4px solid black;
        padding: 10px;
        margin-top: 35px;
        width: max-content;
        height: max-content;
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
    }
    .p_mobile_thank_msg{
        display: block;
        font-size: 20px;
    }
    .mobile_small_p_quote{
        font-family: cursive;
        font-size: 23px;
        padding: 20px;
        margin-bottom: 10px;
        display: block;

    }
    .h1_mobile_thank_head{
        display: block;
        font-size: 35px;
    }
    .button_main_mobile{
        display: block;
    }
}